<%= simple_form_for Message.new, remote: true do |f| %>

<div class="input-group" style="padding:0">
	<%= f.input :body, as: :string, placeholder: "Enter message...", class:'form-control', label: false, wrapper: false %>
	<div class="input-group-append">
		<%= f.submit "Send Message", class: 'btn btn-outline-secondary' %>
	</div>
</div>
<% end %>

