<div class="row">
	<div class="col-lg-4 col-md-4 col-sm-12" style="padding:0;">
		<%= render 'layouts/sidepanel' %>
	</div>
	<div class="col-lg-8 col-md-8 col-sm-12">
		<div class="jumbotron">
			<p style="text-align:center">
				<%= render 'layouts/session_links' %>
			</p>
			<hr>
			<% if current_user %>
			<div class="well">
				<%= javascript_include_tag asset_path 'pages.js' %>
				<%= render 'layouts/chatbox' %>
			</div>
			<% end %>
		</div>
	</div>
</div>
