<div class="row">
	<div class="col-4">
		<%= render 'layouts/sidepanel' %>
	</div>
	<div class="col-8">
		<div class="jumbotron">
			<p style="text-align:center">
				<%= render 'layouts/session_links' %>
			</p>
			<hr>
			<% if current_user %>
			<div class="well">
				<script src="assets/pages.js"></script>
				<%= render 'layouts/chatbox' %>
			</div>
			<% end %>
		</div>
	</div>
	
</div>
