<div class="col-12" style="height:250px;">
	<div class="jumbotron" style="padding:0.2em;overflow-y:scroll;">
		<h6>Users</h6>
		<hr>
		<ul id="online_users">
		</ul>
		<p id="online-count">
			<%= pluralize(User.where(online: true).count, "Users") %> online.
		</p>
	</div>
</div>
<div class="col-12" style="height:250px;">
	<div class="jumbotron" style="padding:0.2em;overflow-y:scroll;">
		<h6>Rooms</h6>
		<hr>
	</div>
</div>